.gallery {
	display: flex;
	justify-content: center;

	&__buttons {
		margin-right: 30px;
  		font-size: 16px;
  		color: rgb(70, 70, 70);
  		margin-bottom: 70px;
  		font-weight: 400;
  		line-height: 0.75;
  		text-align: center;

	}

	&__buttons:hover {
		border-bottom: 2px Solid #19bd9a;
	}
}