.gallery {
	display: flex;
	justify-content: center;

	&__buttons {
		position: relative;
		margin-right: 30px;
		padding: 10px;
  		font-size: 16px;
  		color: #464646;
  		font-weight: 400;
  		line-height: 0.75;
  		text-align: center;
  		&:hover:after {
			content: "";
			margin: 0 auto;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 50%;
			height: 2px;
			background-color: #11be9b;
  		}

  		&--active {
			&:after{
				// content: "";
				// margin: 0 auto;
				// display: block;
				// position: absolute;
				// bottom: 0;
				// left: 0;
				// right: 0;
				// width: 50%;
				// height: 2px;
				// background-color: #11be9b;
			}
		}
	}
	
}