.header {
	// цьомчикзайчику
	height: 100vh;
	background-image: url(../../img/header_bg.png);
	background-size: cover;

	&__logo {
		width: 30%;
		height: 20px;
		font-family: "Myriad Pro", Arial, sans-serif;
		font-size: 16px;
		font-weight: 900;
  		color: #ffffff;
  		text-transform: uppercase; 
	}

	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 39px;
	}

	&__nav {
		display: flex;
		justify-content: flex-end;
		box-sizing: border-box;
		width: 70%;
		font-size: 16px;
		font-weight: 400;
		color: #ffffff;
  		line-height: 0.75;

  		&__item {
			position: relative;
			line-height: 1;
			&-link {
				padding: 5px 20px;
				border: 1px solid transparent;
				transition: all .3s ease;
				border-radius: 16px;
					&:hover {
						border: 1px solid white;
					}
					&--active {
						border: 1px solid white;
					}
				}
			}
		}

	&__tittle {
		width: 380px;
		margin: 0 auto;
		padding-top: 226px;
  		font-size: 35px;
  		font-family: 'Source Sans Pro', sans-serif;
  		color: rgb(255, 255, 255);
  		text-transform: uppercase;
  		letter-spacing: 4px; 
  		line-height: 2;
  		font-weight: 300;
  		text-align: left;
	}

	&__subtitle {
		width: 607px;
		margin: 0 auto;
		padding-top: 42px;
		padding-bottom: 337px;
		font-size: 16px;
  		color: rgb(255, 255, 255);
  		line-height: 1.75;
  		font-weight: 400;
  		text-align: center
	}

	&__scroll {
		display: block;
		position: absolute;
		width: 36px;
		height: 36px;
		left: 50%;
		top: 700px;
		margin-left: -12px;
		margin-bottom: 69px;
		background-image: url(../../img/scroll.png);
	}
}

