.photos {
	margin-top: 70px;

	&:after {
  		content: '';
  		display: block;
  		clear: both;
	}

	&__card {
		float: left;
		width: 270px;
		margin-bottom: 10px;
		transform: scale(1);
		transition: all .3s ease;
		&:hover {
			position: absolute;
			z-index: 10;
			transform: scale(1.2);
		}
	}
}