.tittle {
	padding-top: 80px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: #333b46;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 0.6;
}